<div class="row">

  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Employees</h5>
        <p class="card-text">Employees table</p>
        <a [routerLink]="['employees-home']" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Customers</h5>
        <p class="card-text">Customers table</p>
        <a [routerLink]="['customers-home']" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">Projects table</p>
        <a [routerLink]="['projects-home']" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tasks</h5>
        <p class="card-text">Tasks table</p>
        <a [routerLink]="['tasks-home']" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>

</div>
